<%= content_for(:title, "Home") %>

<div class="main">
  <ol>
  <% @links.order("links.vote_count DESC").each do |link| %>
    <li>
      <%= form_for link, html: { id: "upvote" } do |f| %>
        <%= f.hidden_field :vote_count, value: (link.vote_count + 1) %>
        <%= f.submit("\u25B2",  class: "text-button" ) %>
      <% end %>
      <%= link_to link.description, link_path(link), class: "black" %>
      <span class="gray">(<%= link.url %>)</span>
      <br/>
      <%= link.vote_count %> points
      by <%= link.user_name %>
      <%= time_ago_in_words(link.created_at) %> ago
    </li>
  <% end %>
  </ol>
</div>
